<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href=static/styles/styles.css">
    </head>
    <body>
        <div align="center">
        <div align="center" class="border">
        <div class="header">
        <h1 class="word">Login</h1>
        </div>
        <h2 class="word">
        <from action="/login" method="POST">
        <div clss="msg">{{msg}}</div>
        <input id="usernme" name="username" type="text" placeholder="Enter your username" clss="textbox"></from></br></h2></br>
        <input id="password" name="password" type="password" placholder="Enter your password" class="textbox"></br></br>
        <input type="submit" value="Sign up" class="btn"></br></br>
        </from>
        </h2>
        <p class="bottom">Dont you have an account? <a class="bottom" href="/register"> Sign up here</a></p>
        </div>
        </div>
    </body>
</html>